{%extends 'user/base_center.html'%}
{%block head%}
<script>

    $(function () {

        $('.choice_addr').click(function () {
            $.ajax({
                'url':'/user/site_handle',
                'data':{'aid':$(this).val()},
        })

        })
    })
</script>
{%endblock head%}

{%block right%}

<div class="right_content clearfix">
    <h3 class="common_title2">收货地址</h3>
    <div class="site_con">
        <dl>
            {%for addr in address_all%}
            {% if addr == address　%}
            <dd>{{addr.addr}} （{{addr.receiver}}收） {{addr.user}}  {{addr.phone}}
                <td><input type="radio" name="choice_addr" value="{{ addr.id }}"  class="choice_addr" checked>默认</td>
                <td><a href="{% url 'user:edit'%}?id={{addr.id}}">编辑</a></td>
                <td><a href="{% url 'user:delete' addr.id %}">删除</a></td>
            </dd>
            {% else%}
            <dd>{{addr.addr}} （{{addr.receiver}}收） {{addr.user}}  {{addr.phone}}
                <td><input type="radio" name="choice_addr" value="{{ addr.id }}" class="choice_addr"></td>
                <td><a href="{% url 'user:edit'%}?id={{addr.id}}">编辑</a></td>
                <td><a href="{% url 'user:delete' addr.id %}">删除</a></td>
            </dd>
            {%endif%}
            {%endfor%}
            <dd><a href="/user/insert">新增地址</a></dd>
        </dl>
    </div>
</div>


{%endblock right%}