{%extends 'goods/base.html'%}

{% block detail %}
<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
</div>
{% endblock detail %}

{% block left %}
<div class="r_wrap fr clearfix">
			<div class="sort_bar">

				<a href="{% url 'goods:list' type.id 1 %}?sort=default"
				   {%if sort == "default"%}
				   class="active"
				   {%endif%}
				>默认</a>

				<a href="{% url 'goods:list' type.id 1 %}?sort=prince"
				   {%if sort == "prince"%}
				   class="active"
				   {%endif%}
				>价格</a>
				<a href="{% url 'goods:list' type.id 1 %}?sort=sales"
				   {%if sort == "sales"%}
				   class="active"
				   {%endif%}
				>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for g in sku_page.object_list%}
				<li>
					<a href="{% url 'goods:detail' g.id%}"><img src="{{g.image.url}}"></a>
					<h4><a href="{% url 'goods:detail' g.id%}">{{g.name}}</a></h4>
					<div class="operate">
						<span class="prize">{{g.prince}}</span>
						<span class="unit">{{g.prince}}/{{g.unite}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				{% if sku_page.has_previous %}
				   <a href="{% url 'goods:list' type.id  sku_page.previous_page_number %}"><上一页</a>
				{% else %}
				   <a href="#"><上一页</a>
				{% endif %}
				{% for pindex in pages %}
                       {% if pindex == sku_page.number %}
				          <a href="#" class="active">{{pindex}}</a>
                       {% else %}
                           <a href="{% url 'goods:list'  type.id pindex %}">{{pindex}}</a>
                       {% endif %}
				{% endfor %}

				{% if sku_page.has_next %}
				  <a href="{% url 'goods:list' type.id  sku_page.next_page_number %}">下一页></a>
				{% else %}
				   <a href="#">下一页></a>
				{% endif %}
			</div>
</div>
{% endblock left %}

